@media screen and (max-width: 830px) {
  th:first-child, td:first-child {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  th:first-child, td:first-child,
  th:nth-child(2), td:nth-child(2) {
    display: none;
  }
}